/* Reset default browser styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation Styles */
.navbar {
  background-color: #851752;
  color: #fff;
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section Styles */
.hero {
  background-color: #f4f4f4;
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-buttons .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #851752;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.logop {
  color: #ffffff;
  width: 80px; /* 10% bigger */
  height: auto; /* 10% bigger */
}