body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px; /* Adjust the margin as needed */
}

.logo {
  margin: 0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hero {
  position: relative; /* Ensure proper positioning for the pseudo-element */
  background-image: url("http://localhost:3300/images/Banner.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

/* Add a pseudo-element to overlay black shade */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the transparency as needed */
}

.hero h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  position: relative; /* Ensure proper stacking context */
  z-index: 1; /* Ensure the buttons appear above other elements */
}

.btn {
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 1.1em;
}

.btn:hover {
  background-color: #cc5500;
}
