<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style type="text/css">
      body {
        color: #797979;
        background: -webkit-linear-gradient(
          left,
          rgba(33, 8, 28, 1),
          #4d1434,
          rgba(77, 20, 52, 1)
        );
        font-family: "Open Sans", sans-serif;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 13px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
      }

      .profile-nav,
      .profile-info {
        margin-top: 30px;
      }

      .profile-nav .user-heading {
        background: #4d1434;
        color: #fff;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        padding: 30px;
        text-align: center;
      }

      .profile-nav .user-heading.round a {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 10px solid rgba(255, 255, 255, 0.3);
        display: inline-block;
      }

      .profile-nav .user-heading a img {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
      }

      .profile-nav .user-heading h1 {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 5px;
      }

      .profile-nav .user-heading p {
        font-size: 12px;
      }

      .profile-nav ul {
        margin-top: 1px;
      }

      .profile-nav ul > li {
        border-bottom: 1px solid #ebeae6;
        margin-top: 0;
        line-height: 30px;
      }

      .profile-nav ul > li:last-child {
        border-bottom: none;
      }

      .profile-nav ul > li > a {
        border-radius: 0;
        -webkit-border-radius: 0;
        color: #89817f;
        border-left: 5px solid #fff;
      }

      .profile-nav ul > li > a:hover,
      .profile-nav ul > li > a:focus,
      .profile-nav ul li.active a {
        background: #f8f7f5 !important;
        border-left: 5px solid #4d1434;
        color: #89817f !important;
      }

      .profile-nav ul > li:last-child > a:last-child {
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
      }

      .profile-nav ul > li > a > i {
        font-size: 16px;
        padding-right: 10px;
        color: #bcb3aa;
      }

      .r-activity {
        margin: 6px 0 0;
        font-size: 12px;
      }

      .p-text-area,
      .p-text-area:focus {
        border: none;
        font-weight: 300;
        box-shadow: none;
        color: #c3c3c3;
        font-size: 16px;
      }

      .profile-info .panel-footer {
        background-color: #f8f7f5;
        border-top: 1px solid #e7ebee;
      }

      .profile-info .panel-footer ul li a {
        color: #7a7a7a;
      }

      .bio-graph-heading {
        background: #4d1434;
        color: #fff;
        text-align: center;
        font-style: italic;
        padding: 40px 110px;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        font-size: 16px;
        font-weight: 300;
      }

      .bio-graph-info {
        color: #89817e;
      }

      .bio-graph-info h1 {
        font-size: 22px;
        font-weight: 300;
        margin: 0 0 20px;
      }

      .bio-row {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        padding: 0 15px;
      }

      .bio-row p span {
        width: 100px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="profile-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="/homesaver/index">
                <img
                  src="http://localhost:3300/images/Logo.png"
                  alt="Profile Picture"
                />
              </a>
              <h1><%=name%></h1>
              <p><%=email%></p>
            </div>
            <ul class="nav nav-pills nav-stacked">
              <li class="active">
                <a href="/homesaver/reset">
                  <i class="fa fa-key"></i> Change Password</a
                >
              </li>
              <li class="active">
                <a href="#" onclick="loadAppointments()">
                  <i class="fa fa-user"></i>Appointments</a
                >
              </li>
              <li class="active">
                <a href="/homesaver/homepage?id=<%=id%>">
                  <i class="fa fa-sign-out"></i>Home Page</a
                >
              </li>
              <li class="active">
                <a href="/homesaver/login">
                  <i class="fa fa-sign-out"></i> Log Out</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div id="profile-info" class="profile-info col-md-9">
          <!-- Content will be loaded here -->
        </div>
      </div>
    </div>
    <script>
      // Function to load user profiles
      function loadAppointments() {
        // Load user profiles directly using EJS
        $("#profile-info").load(
          "/homesaver/business/accepted_booking_details?userId=<%=id%>"
        );
      }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
