<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: -webkit-linear-gradient(
          left,
          rgba(33, 8, 28, 1),
          #4d1434,
          rgba(77, 20, 52, 1)
        );
        background-color: #f9f9f9; /* Fallback color */
      }
      .navbar {
        position: fixed; /* Set position to fixed */
        top: 0; /* Stick it to the top of the viewport */
        width: 100%; /* Occupy full width */
        z-index: 1000; /* Ensure it's above other content */
        /* background-color: #333;
      color: #fff; */
        padding: 10px 0;
        background: -webkit-linear-gradient(
          left,
          rgba(33, 8, 28, 1),
          #4d1434,
          rgba(77, 20, 52, 1)
        );
      }

      .container {
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .logo-link {
        display: flex;
        align-items: center;
      }

      .logo-img {
        width: 50px;
        height: auto;
        margin-right: 10px;
      }

      .navbar-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .navbar-links li {
        display: inline;
        margin-right: 20px;
      }

      .navbar-links li:last-child {
        margin-right: 0;
      }

      .navbar-links a {
        color: #fff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="container">
        <a
          href="/homesaver/index"
          style="color: #ffffff; text-decoration: none"
        >
          <img
            src="http://localhost:3300/images/Logo.png"
            alt="Logo"
            style="width: 80px; height: auto; top: 10px; left: 10px"
          />
        </a>
        <ul class="navbar-links">
          <li><a href="/homesaver/homepage">Home</a></li>
          <li><a href="/homesaver/services">Services</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
