<head>
    <style>
    /* Navbar container */
    .navbar {
      background-color: #333; /* Background color */
      overflow: hidden; /* Clear floats */
    }
    
    /* Links inside the navbar */
    .navbar a {
      float: left; /* Float links horizontally */
      display: block; /* Display block to fill entire navbar */
      color: #f2f2f2; /* Text color */
      text-align: center; /* Center text */
      padding: 14px 16px; /* Padding */
      text-decoration: none; /* Remove underline */
    }
    
    /* Change color on hover */
    .navbar a:hover {
      background-color: #ddd; /* Background color on hover */
      color: black; /* Text color on hover */
    }
    
    /* Active/current link */
    .navbar a.active {
      background-color: #4CAF50; /* Background color of active/current link */
      color: white; /* Text color of active/current link */
    }
    
    </style>
    </head>
    <navbar>
        <div class= "navbar">
            <ul>
                <li><a href="#">Home</li>
                <li><a href="#">Home</li>
                <li><a href="#">Home</li>
                <li><a href="#">Home</li>
    
            </ul>
        </div>
    
    </navbar>